* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  object-fit: contain;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #8f54a0 #ffffff;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #c7c7c7 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 0px;
  border: 0px none #ffffff;
}

body {
  padding: 0;
  margin: auto;
  width: 100%;
  overflow-x: hidden;
  background: rgb(68, 32, 99);
  background: linear-gradient(90deg, rgba(68, 32, 99, 1) 0%, rgba(29, 35, 99, 1) 100%);
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* SLIDE 1 WAK */
.slide-1 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 850px;
}

.head {
  width: 100%;
  height: 100px;
  display: flex;
  margin-top: 50px;
}

.head img {
  width: 8%;
  margin-left: 90px;
}

.head h3 {
  width: 100%;
  margin-top: 40px;
  margin-left: -20px;
  font-family: "Anta";
  font-size: 25px;
  letter-spacing: 3px;
}

ul {
  margin-right: 20px;
  letter-spacing: 4px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: -80px;
  display: flex;
  font-size: 20px;
}

li {
  list-style: none;
  font-family: Anta;
  transition: transform 0.4s ease;
}

.hover ul li :hover {
  transform: scale(1.5s)
}

.content {
  width: 100%;
  display: flex;
  margin-top: 190px;
}

.content img {
  width: 25%;
  margin: auto;
  margin-right: 80px;
  border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  box-shadow: black 0px 0px 90px 10px;
}

.content h1 {
  width: 90%;
  margin: auto;
  font-size: 85px;
  font-family: Anta;
  margin-left: 120px;
  letter-spacing: 7px;
}

/* versi ponsel */
@media screen and (max-width:600px) {
  .head {
    align-items: center;
    margin-top: 20px
  }

  .head img {
    margin-left: 20px;
    margin-top: 20px;
  }

  .head h3 {
    text-align: center;
    font-size: 7px;
    margin-left: -29px;
    margin-top: 29px;
  }

  ul {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 29px;
    font-size: 4px;
    letter-spacing: 1px;
    gap: 7px;
  }

  .ul li {
    margin: auto;
  }

  .content {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  .content img {
    width: 50%;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 120px;
  }

  .content h1 {
    font-size: 15px;
    margin-left: 0;
    text-align: center;
    margin-bottom: 120px;
    position: absolute;
  }

  .vertical-line {
    opacity: 0;
  }
}

/* SLIDE 2 WAK */
.slide-2 {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 700px;
}

.slide-2 h3 {
  margin: 0;
  margin-top: 90px;
  width: 30%;
  margin-left: 120px;
  font-family: Exoo 2;
  font-size: 40px;
  letter-spacing: 3px;
  color: #d73cbe;
}

.slide-2 img {
  width: 30%;
  height: 30%;
  margin-top: 90px;
  border-radius: 58px 58px 58px 58px;
  -webkit-border-radius: 58px 58px 58px 58px;
  -moz-border-radius: 58px 58px 58px 58px;
  margin-left: 90px;
  box-shadow: black 0 0px 130px 10px;
}

.about {
  display: flex;
  margin-left: 70px;
}

.about p {
  width: 80%;
  font-size: 40px;
  font-family: Anta;
  margin-top: 90px;
  margin-left: 190px;
  margin-right: 70px;
  letter-spacing: 6px;
  color: #fff;
}

.vertical-line {
  border-bottom: 1px #ffffff;
  width: 60px;
  margin-top: 120px;
  margin-left: 140px;
}

@media screen and (max-width:600px) {
  .slide-2 {
    width: 100%;
    margin: 0;
  }

  .slide-2 h3 {
    font-size: 9px;
    margin-top: -90px;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 30PX;
  }

  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .about img {
    width: 50%;
    margin-left: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .about p {
    width: 90%;
    font-size: 9px;
    margin-left: -50px;
    text-align: center;
    align-items: center;
    margin-top: 40px;
  }

  .vertical-line {
    width: 10%;
    align-items: center;
    margin-left: 0px;
    margin-right: 90px;
  }

}

/* SLIDE 3 WAK */
.slide-3 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 700px;
  margin-top: 30px;
}

.kepala {
  margin-top: 120px;
  width: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.kepala h2 {
  font-size: 50px;
  font-family: "Anta";
}

.kepala p {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-family: "Exo 2";
  overflow: hidden;
  margin-bottom: 30px;
}

.kepala p span {
  display: block;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-o
}

.bar {
  font-size: 23px;
  font-family: "Exo 2";
  font-weight: bold;
  display: flex;
  align-items: center;


}

.info {
  margin-bottom: 10px;
  max-width: 90%;
  overflow: hidden;
  text-align: center;
  margin-left: 40px;
}

.persent {
  display: inline-block;
  margin-left: 0px;
  margin-right: 50px;
  font-family: "Exo 2";
  font-weight: bold;
}


.bar-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 80px;
  margin-left: 100px;
  margin-bottom: 0px;
}

.bar-container .bar {
  margin: 20px 0;
  padding: 10px;
}

.bar-container .bar:first-child {
  margin-top: 0;
}

.bar-container .bar:last-child {
  margin-bottom: 10;
}

.bar-container .info {
  margin-bottom: 5px;
}

.bar-container .bar .info span {
  font-size: 27px;
  font-family: "Anta";
  font-weight: bold;
}

.progres-line {
  opacity: 0;
  transition: opacity 0.5s ease, transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.progres-line.animate {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: left;
}

.bar-container .bar .progres-line {
  position: relative;
  border-radius: 10px;
  width: 40%;
  height: 20px;
  background-color: rgb(144, 17, 255);
  transform: scaleX(0);
  transform-origin: left;
}

.bar-container .bar .progres-line span {
  height: 100%;
  background-color: aqua;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(1);
  transform-origin: left;
}

.bar-container .bar .progres-line.show {
  opacity: 1;
}

.progres-line.html span {
  width: 62%;
}

.progres-line.css span {
  width: 71%;
}

.progres-line.JavaScript span {
  width: 22%;
}

.progres-line.Python span {
  width: 29%;
}

.progres-line.MySql span {
  width: 42%;
}

.progres-line.Canva span {
  width: 82%;
}

.html {
  margin-top: 40px;
  margin-left: 65px;
}

.progres-line.Canva {
  position: relative;
  top: 0px;
  left: 27px;
}

.persent-canva {
  margin-top: 0px;
  position: relative;
}

.canva-text {
  position: relative;
  top: 0px;
  z-index: 1;
  /* Atur nilai top sesuai kebutuhan */
}

.persent-html {
  margin-top: 35px;
  margin-left: 0px;
}

.JavaScript {
  margin-left: 10px;
}

.slide-3 .vertical-line {
  border-top: -100px #ffffff;
  margin-top: 90px;
  margin-right: 50px;
}

.pembatas {
  margin-top: -20px;
}

@media screen and (max-width:600px) {
  .slide-3 {
    width: 100%;
    margin-top: -160px;
    margin-bottom: -12px;
  }

  .kepala h2 {
    font-size: 15px;
    margin-top: -10px;
  }

  .kepala p {
    width: 250px;
    letter-spacing: 1px;
    margin-left: -20px;
    font-size: 6px;
  }
}
  @media (max-width: 768px) {
    .bar-container {
      width: 100%;
      margin-left: -10px;
      margin-top: 20px;
      gap: 1px; /* Tambahkan sedikit jarak antar elemen */
    }
  
    .bar-container .bar .info span {
      font-size: 7px; /* Ukuran font lebih besar untuk keterbacaan di ponsel */
    }
  
    .bar-container .bar .progres-line  {
      width: 40%; /* Lebih besar untuk ponsel */
      height: 5px; /* Lebih tinggi untuk ponsel */
      margin-left: 32px;
      margin-right: 0;
    }
  
    .progres-line.html, .progres-line.css, .progres-line.JavaScript, 
    .progres-line.MySql, .progres-line.Python {
      margin: -5px;
    }

    .progres-line.Canva {
      position: relative;
      left: 0px;
    }
    
    .persent {
      margin-left: 10px;
    }
  
    .persent, .persent-html {
      font-size: 3px; /* Ukuran font lebih besar untuk keterbacaan di ponsel */
      margin-top: 0px;
      margin-left: 95px;
    }
    
    .info.html {
      margin-top: 20px;
      margin-left: 40px;
    }

    .persent-canva {
      font-size: 3px;
      margin-right: 50px;
      margin-top: -5px;
    }
  
    .bar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }

/* slide 4 */
.slide-4 {
  width: 100%;
  height: 700px;
  margin: 0;
  padding: 0;
  margin-top: 0px;
}

.slide-4 h2 {
  text-align: center;
  margin-top: 120px;
  font-size: 40px;
  font-family: "Anta";
  letter-spacing: 5px;
}

.projek {
  width: 50%;
  margin-top: 120px;
  display: flex;
  flex-direction: wrap;
  justify-content: center;

}

.gambar {
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.gambar p {
  margin-top: 15px;
  font-size: 20px;
  font-family: "Exo 2";
  letter-spacing: 10px;
}

.gambar img {
  width: 600px;
  box-shadow: 0px 45px 400px 81px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 45px 400px 81px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 45px 400px 81px rgba(0,0,0,0.75);
}

@media (max-width: 768px) {
  .slide-4 {
    width: 100%;
    margin-top: -320px;
    height: 600px;
  }
  .slide-4 h2 {
    position: absolute;
    font-size: 18px;
    margin-top: -10px;
  }
  .gambar {
    position: relative;
    margin-top: 150px;
  }

  .gambar img {
    width: 100px;
    margin: -22px;
    box-shadow: -1px 45px 400px 81px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 45px 400px 81px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 45px 400px 81px rgba(0,0,0,0.75);
  }
  .gambar p {
    font-size: 5px;
    letter-spacing: 0;
    margin-top: 20px;
  }
}

/*Terakhir*/
.terakhir {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  height: 700px;
}

.kontak {
  width: 70%;
  margin-left: 120px;
  margin-top: 55px;
}

.kontak h3 {
  font-size: 50px;
  font-family: "Anta";
  letter-spacing: 10px;
  margin-bottom: 50px;
}

.phone {
  margin-top: 90px;
  margin-bottom: 50px;
}

.phone h4 {
  font-size: 30px;
  font-family: "Anta";
  letter-spacing: 5px;
}

.phone p {
  margin-top: 10px;
  letter-spacing: 2px;
  font-size: 18px;
  font-family: "Exo 2";
}

.email h4 {
  font-size: 30px;
  font-family: "Anta";
  letter-spacing: 5px;
}

.email p {
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 10px;
  font-family: "Exo 2";
}

.sosmed {
  width: 45%;
  height: 100px;
  display: flex;
  border: 2px solid #ffff;
  margin-top: 120px;
  margin-left: 120px;
}

.sosmed h4 {
  font-family: "Exo 2";
  letter-spacing: 3px;
  font-size: 25px;
  margin-left: 40px;
}

.sosmed a {
  position: relative;
  top: 30px;
  margin: -20px;
}
.sosmed img {
  width: 40%;
  margin: 0px 80px ;
  box-shadow: -1px 2px 400px 19px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 2px 400px 19px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 400px 19px rgba(0,0,0,0.75);
}

@media (max-width: 768px) {
  .terakhir {
    width: 100%;
    margin-top: -200px;
    margin-left: -90px;
    height: 550px;
  }
  .terakhir h3 {
    font-size: 20px;
  }
  .phone h4 {
    font-size: 15px;
  }
  .email h4 {
    font-size: 15px;
  }
  .phone p{
    font-size: 9px;
  }
  .email p{
    font-size: 9px;
  }
  .sosmed {
    width: 80%;
    height: 40px;
    display: flex;
    border: 2px solid #ffff;
    margin-top: 110px;
    margin-left: 120px;
  }
  .sosmed h4 {
    font-size: 10px;
    margin-left: 5px;
  }
  .sosmed img {
    width: 20%;
    margin: 0px 40px 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  .sosmed a {
    position: relative;
    top: 30px;
    margin: -20px;
  }
}